name: Build with clang, then run and check

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

env:
  CC: clang

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4

    - name: Build
      run: make

    - name: Run
      run: make run

    - name: Run
      run: make check
